.auth-layout {
  height: 100%;

  & .sider {
    height: 100vh;
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    bottom: 0;
  }

  & .auth-layout_content {
    margin: 30px auto 0 250px;
    min-height: 100vh;
    & > .ant-layout-content {
      width: 100%;
      padding: 0 150px;
    }
  }
}
