// colors
$white: #fff;
$black: #000;
// Blue
$primary: #3e54ac;
$blue: #3e54ac;
$lightBlue: #a3b3ef;
// RED
$red: #be0000;
// YEllow
$yellow: #f7ea00;
// ORANGE
$orange: #e48900;
// GREEN
$green: #9ede73;

// text-color
$primary-text-color: #262626;
$secondary-text-color: #8e8e8e;

$secondary-background-color: $lightBlue;
$separator-color: $primary;
$border-color: $lightBlue;

$button-text-bg-active: rgba(38, 38, 38, 0.3);
